<h1>
  Hello world
</h1>



<input type="text" value="Angular123" />



<hr>

<!-- string interpolation {{ }}-->

<!--property data binding. [ ]-->

<!--event data binding. ( )-->





{{text}} --
{{customerID}} -- 
{{getProjectStatus()}}

<input type="text" [value]="customerName" />


<input [type] = "inputtype" />


<input type="text" [value]="customerName" [disabled] = "status" />


<!-- <button (click)="getFired()" >Fired</button> -->


<button (click)="getFired()"  class="btn btn-primary">Click</button>
